* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Roots - Palette colori (HEX)
	•	Nero profondo → #080505
	•	Nero caldo / ombra → #613B31
	•	Bianco → #F6F6F6
	•	Grigio chiaro → #AAACA6
	•	Arancione corallo / terracotta → #E7623D
	•	Giallo acceso → #F9E04F
	•	Verde menta / verde petrolio chiaro → #49AA7F
	•	Rosso vivo → #FA0101
    */


#app_header {
    font-family: 'Bungee', sans-serif;
    padding: 1rem;
    border-bottom: 10px solid #080505;
    color: #F9E04F;
    background-color: #49AA7F;
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    text-shadow: 0px 0px 10px #FA0101;
    position: sticky;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;

    .menu-icon {
        font-size: 1.8rem;
        cursor: pointer;
        position: absolute;
        right: 1rem;
        top: 25%;
    }
}

body {
    max-width: 512px;
    margin: 0 auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-image: url(../img/memphis.png);
    background-attachment: fixed;
    background-size: cover;
}

main {
    margin-top: 4rem;
    padding: 1rem 2rem;
    min-height: 1000px;
}

.card {
    position: relative;
    padding: 1rem;
    margin: 2rem;
    margin-bottom: 1rem;
    min-height: 150px;
    box-shadow: 6px 6px 0 #080505;
    background-color: #F9E04F;
    border: 8px solid #080505;
    border-radius: 2rem;

    img {
        width: 150px;
        padding-block: 0.5rem;
    }

    h2 {
        margin-bottom: 0.5rem;
        font-family: 'Montserrat', sans-serif;
        color: #080505;
        padding-left: 0.5rem;
        font-weight: 800;
        letter-spacing: 1px;
    }

    p {
        color: #3A3A3A;
        line-height: 1.75rem;
        font-family: 'Rubik', sans-serif;
        padding-left: 0.5rem;
    }

}

#keyword {
    font-weight: bold;
    color: red;
    text-decoration: underline;
}

.badge {
    background-color: #FA0101;
    margin: 1rem 0.5rem;
    padding: 0.5rem 1rem;
    font-family: 'Rubik', sans-serif;
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: whitesmoke;
    font-weight: 800;
    border-radius: 0.5rem;
    letter-spacing: 1px
}

footer {
    padding: 1rem;
    border-top: 10px solid #080505;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    background-color: #E7623D;
    text-align: center;
    font-family: 'Bungee', sans-serif;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: auto;

    #chat {
        position: fixed;
        bottom: 3rem;
        right: 3rem;
        padding: 1rem;
        font-size: 1.5rem;
        border-radius: 1rem;
        border-style: none;
    }

}