* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Roots - Palette colori (HEX)
	•	Nero profondo → #080505
	•	Nero caldo / ombra → #613B31
	•	Bianco → #F6F6F6
	•	Grigio chiaro → #AAACA6
	•	Arancione corallo / terracotta → #E7623D
	•	Giallo acceso → #F9E04F
	•	Verde menta / verde petrolio chiaro → #49AA7F
	•	Rosso vivo → #FA0101
    */


body {
    width: 512px;
    background-image: url(../img/memphis.png);
    background-attachment: fixed;
    background-size: cover;
    padding-top : 5rem;
    padding-bottom: 5rem;
    margin: auto;
}

#app_header {
    font-family: 'Bungee', sans-serif;
    padding: 1rem;
    border-bottom: 10px solid black;
    box-shadow: 0px 0px 10px 3px #080505;
    color: #F9E04F;
    background-color: #49AA7F;
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    box-shadow: 0px 0px 10px 3px #080505;
    border-color: #080505;
    border-style: solid;
    text-align: center;
    text-shadow: 0px 0px 10px #fa0101;
    font-size: 1rem;
    position: fixed;  /* o sticky */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

main {
    padding: 1rem 1rem;
    min-height: 1000px;
}

.card {
    padding: 1rem;
    margin-bottom: 1rem;
    border: 50px solid rgb(212, 212, 212);
    min-height: 450px;
    background-color: #F9E04F;
    border-color: #080505;
    border-style: solid;
    border-width: 8px;
    border-radius: 10%;
    margin: 2rem 2rem;
}

.badge {
    background-color: #FA0101;
    margin: 1rem;
    width: fit-content;
    padding: 0.5rem 1rem;
    font-family: 'Rubik', sans-serif;
    position: relative;
    top: 0;
    left: 85%;
    color: whitesmoke;
    font-weight: bold;
    border-radius: 10%;
}

img {
    width: 150px;
    padding-block: 0.5rem;
    padding-inline-start: 0%;
    padding-inline-end: 0%;
    top: 0;
    left: 29%;
    position: relative;
}

h2 {
    text-shadow: 0 0 2 lightseagreen;
    margin-bottom: 0.5rem;
    font-family: 'Montserrat', sans-serif;
    color: #080505;
    padding-left: 0.5rem;
}

p {
    color: #3A3A3A;
    line-height: 1.75rem;
    font-family: 'Rubik', sans-serif;
    padding-left: 0.5rem;

}

span {
    font-weight: bold;
    color: red;
    text-decoration: underline;
}

footer {
    padding: 1rem;
    border-top: 10px solid black;
    box-shadow: 0px 0px 10px 3px #080505;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    background-color: #E7623D;
    color: yellow;
    text-align: center;
    font-family: 'Bungee', sans-serif;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
