* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

.card {
    border-color: black;
    border-style: solid;
    border-width: 2px;
    padding: 1rem;
    padding-bottom: 3rem;
    margin: 1rem 2rem;
}

footer {
    padding: 1rem
}